*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
#headtop{
    display: flex;
}
.Header{
    background-color: black;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}
nav{
    padding-top: 25px;
    text-align: right;
}
nav img{
    padding-right: 12px;
}
nav ul{
    font-size: x-large;
    padding-right: 12px;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    color: whitesmoke;
}
.container{
    padding-left: 20px;
    padding-right: 20px;
}
.row{
    padding: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
 .column1-title p{
    padding: 35px;
}
.column1 h1{
    font-size: 45px;
    color: antiquewhite;
}

.column1 p{
    color: red;
}
.column1 img{
    width: 600px;
}
.btn{
    display: inline-block;
    background-color: red;
    color: aliceblue;
    padding: 10px 25px;
    border-radius: 10px;
    transition: background 0.5;
}
.btn:hover{
    /* background: rgb(73, 214, 55); */
    background:  blue;
}

.container p{
    color: aliceblue;
}

/*-----Featured categories-----*/

.categories{
    margin: 70px 0;
}

.column2{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.column2 img{
    width: 100%;
}

/*------featured products------*/

.feature-row{
    display: flexbox;
}
.product-container{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.product-details p{
    font-size: x-large;
}
.product-row{
    padding-bottom: 22px;
    display: flex;
    justify-content: center;
}
.p-head-row{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 55px;
}
.p-head-row p{
    color: red;
    
    /* padding-top: 25px; */
}
/* .small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 12px;
    padding-right: 12px;
}
.small-container .row1{
    font-size: larger;
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
    color: red;   
}
option{
    font-size: large
} */
/***********************/
.row2{
   justify-content: space-between;
}
.column3{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-basis: 500%;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 25px;
    text-align: left;
    flex-basis: 50%;
    min-width: 550px;
    transition: transform 0.5s;
}
.column3 .img{
    width: 100%;
    height: 100%;
}

.column3 h4{
    padding-top: 55px;
}
.column3 img{
    width: 200px;
}
.product-title{
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 20px;
}
.column3 img:hover{
    
    transform: translateX(-5px);
}

/*-------offer-container---------*/

.offer{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.offer-container {
    display: flex;
}
.o-title{
    display: flex;
}
.o-content{
    padding-left: 32px;
}

/*--------Testimonial----------*/
.testmonial{
    margin: auto;
    padding: 85px;
}
.testimonial-container{
    padding-left: 40px;
    padding-right: 40px;
}
.testimonial-row{
    display: flex;
}
.column4{
    text-align: center;
    padding: 32px;
    justify-items: center;
    
}

/*-------footer--------*/

.footer{
    
    background-color: black;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.context{
    display: flex;
    margin: 40px;
    padding: 25px;
    
}
.column5 {
    padding: 35px;
    color: aliceblue;
}



@media screen  and (max-width: 600px){

}

/**********************/

/****************************************/

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: red;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: red;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: red;
}
.footer-widget ul li {
  display: inline-block;
  /* float: left; */
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: red;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: red;
    padding: 13px 20px;
    border: 1px solid red;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: red;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: red;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}